/* DonatorEventsAdd.css */
.form-container {
    width: 80vw;
    margin-inline: 10vw;
    padding: 20px;
    background: none;
    border: none;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-content {
    display: flex;
    justify-content: space-between;
}

.left-half, .right-half {
    width: 48%;
}
.right-half{
    margin-left: 10%;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

/* label {
    position: absolute;
    top: -12px;
    left: 10px;
    background: none;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
} */

/* input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
} */

/* textarea {
    resize: none;
    overflow-y: auto;
    min-height: 60px;
    max-height: 300px;
} */

/* input:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 0px 6px rgba(100, 100, 255, 0.6);
} */

.file-upload-button {
    /* display: block; */
    /* margin: 10px 0; */
}

.add-event-button {
    /* align-self: flex-start; */
    /* background-color: #4caf50;
    color: white; */
    /* margin-top: 20px; */
}

.add-event-button:hover {
    background-color: #45a049;
}

.toast-container {
    margin-top: 20px;
}

.titleInfo {
    color: rgba(0, 0, 0, 0.3);
}

.detailsInfo {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
    text-align: left;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

.flexybuttons {
    display: flex;
}

.flexybuttons * {
    top: 0 !important;  
    margin: 0px !important;
}

.flexybuttons > * {
    width: 50% !important; 
}

/* Stepper */
.stepper-wrapper {
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 10%;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    color: white;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
  