/* DonatorEventsAdd.css */
.donator-events-add-page .form-container {
  width: 80vw;
  margin-inline: 10vw;
  padding: 20px;
  background: none;
  border: none;
}

.donator-events-add-page h2 {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 10px;
}

.donator-events-add-page form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.donator-events-add-page .form-content {
  display: flex;
  justify-content: space-between;
}

.donator-events-add-page .left-half,
.donator-events-add-page .right-half {
  width: 48%;
}

.donator-events-add-page .right-half {
  margin-left: 10%;
}

.donator-events-add-page form div {
  margin-bottom: 15px;
  position: relative;
}

.donator-events-add-page .left-half label,
.donator-events-add-page #datelabel {
  position: absolute;
  top: -12px;
  background: none;
  padding: 0 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.donator-events-add-page #datelabel {
  top: -30px;
  left: 0px;
}

.donator-events-add-page .form-container input,
.donator-events-add-page .form-container textarea {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.donator-events-add-page .form-container textarea {
  resize: none;
  overflow-y: auto;
  min-height: 60px;
  max-height: 300px;
}

.donator-events-add-page input:focus,
.donator-events-add-page textarea:focus {
  outline: none;
  box-shadow: 0px 0px 6px rgba(100, 100, 255, 0.6);
}

.donator-events-add-page .titleInfo {
  color: rgba(0, 0, 0, 0.3);
}

.donator-events-add-page .detailsInfo {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
  text-align: left;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}

.donator-events-add-page .flexybuttons {
  display: flex;
}

.donator-events-add-page .flexybuttons * {
  top: 0 !important;
  margin: 0px !important;
}

.donator-events-add-page .flexybuttons > * {
  width: 50% !important;
}

/* Stepper styles */
.donator-events-add-page .stepper-wrapper {
  font-family: Arial;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 10%;
}

.donator-events-add-page .stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

@media (max-width: 768px) {
  .donator-events-add-page .stepper-item {
    font-size: 12px;
  }
}

.donator-events-add-page .stepper-item::before,
.donator-events-add-page .stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  z-index: 2;
}

.donator-events-add-page .stepper-item::before {
  left: -50%;
}

.donator-events-add-page .stepper-item::after {
  left: 50%;
}

.donator-events-add-page .stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  color: white;
}

.donator-events-add-page .stepper-item.active {
  font-weight: bold;
}

.donator-events-add-page .stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.donator-events-add-page .stepper-item.completed::after {
  border-bottom: 2px solid #4bb543;
}

.donator-events-add-page .stepper-item:first-child::before,
.donator-events-add-page .stepper-item:last-child::after {
  content: none;
}

.donator-events-add-page .checkcircleicon {
  color: #4bb543;
}