body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.fridge-container {
    text-align: center;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fridge-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/fridgepagepic.png');
    padding: 80px;
    text-align: center; 
    margin-bottom: 20px;
    color: white;
}

.fridge-header h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 35px;
}

.fridge-header p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}

.fridge-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
}

.fridge-stat-item {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px 20px;
    min-width: 200px;
}

.fridge-stat-item .odometer {
    font-size: 2.5em;
    font-weight: bold;
    color: #2ecc71;;
    display: block;
    margin-bottom: 10px;
}

.fridge-stat-item p {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

h2 {
    color: #2ecc71;
    margin-bottom: 40px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-container {
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
}

.buttons-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.MuiFormControl-root {
    margin-bottom: 20px;
    margin-right: 10px;
}

.MuiTableContainer-root {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(46, 204, 113, 0.1);
}

.MuiTableHead-root .MuiTableCell-head{
    color: black;
    background-color: #2ecc71;
    font-weight: bold;
}

.MuiTableBody-root .MuiTableRow-root:nth-of-type(even) {
    background-color: #23cc723b;
}

.MuiTableBody-root {
    background-color: #e8f5e9;
}

.MuiTableSortLabel-root.Mui-active {
    color: #2ecc71;
}

.MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
    color: #2ecc71;
}

.MuiTablePagination-root {
    color: #2ecc71;
}

.MuiTablePagination-select {
    color: #2ecc71;
}

.MuiCheckbox-root.Mui-checked {
    color: #2ecc71;
}

.MuiButton-contained {
    background-color: #2ecc71;
    color: white;
}

.MuiButton-contained:hover {
    background-color: #27ae60;
}

.MuiButton-outlined {
    color: #2ecc71;
    border-color: #2ecc71;
}

.MuiButton-outlined:hover {
    background-color: rgba(46, 204, 113, 0.04);
}

@media (max-width: 768px) {
    .fridge-header {
        padding: 30px 15px;
    }

    .fridge-header h1 {
        font-size: 2rem;
    }

    .fridge-header p {
        font-size: 1rem;
    }

    .fridge-stats {
        flex-direction: column;
    }

    .fridge-stat-item {
        margin: 0 0 20px;
    }

    .MuiFormControl-root {
        width: 100%;
        margin-bottom: 15px;
    }
}