.fridge-container {
    text-align: center;
}

.fridge-header {
    background-color: gray;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.fridge-header h1 {
    margin-top: 0px;
    padding-top: 40px;
    font-size: 35px;
}

.fridge-container p {
    font-size: 20px;
    /* padding: 0 1rem; */
    padding: 0 100px 0 100px;
}

.fridge-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
}

.fridge-stat-item {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.odometer {
    font-size: 2.5em;
    font-weight: bold;
    color: blue;
    display: block;
    margin-bottom: 10px;
} 

