.navbar {
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 10px 3px rgba(0,0,0,0.1);
    height: 60px;
    padding-left: 6px;
    position: sticky;
    top: 0px;
}

.navbar a {
    padding: 18px 12px 0px 12px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar a:hover {
    color: var(--blueLink);
    transition: linear 0.2s;
}

.navbar .active {
    border-bottom: 2px var(--blueLink) solid;
    color: var(--blueLink);
}
